In [30]:
for i in range(5):
    for j in range(i+1):
        print("i",end=" ")
    print()

i
i i
i i i
i i i i
i i i i i

In [2]:
for i in range(0,5):
    for j in range(0,5):
        if(j==0 or j==4):
            print("*",end=" ")
        elif(i==1 and (j==1 or j==3)):
            print("*",end=" ")
        elif(i==j==2):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

*       *
* *   * *
*   *   *
*       *
*       *

In [3]:
for i in range(0,5):
    for j in range(0,7):
        if(i==3 and (j==0 or j==6)):
            print("*",end=" ")
        elif(i==1 and (j==2 or j==4)):
            print("*",end=" ")
        elif(i==2 and (j==1 or j==2 or j==3 or j==4 or j==5)):
            print("*",end=" ")
        elif(i==0 and j==3):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

      *
    *   *
  * * * * *
*           *

In [4]:
for i in range(0,5):
    for j in range(0,6):
        if(i==0 and (j==0 or j==5)):
            print("*",end=" ")
        elif(i==1 and (j==0 or j==1 or j==4 or j==5)):
            print("*",end=" ")
        elif(i==2 and (j==0 or j==2 or j==5)):
            print("*",end=" ")
        elif(i==3 and (j==1 or j==4)):
            print("*",end=" ")
        elif(i==4 and (j==2 or j==3)):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

*         *
* *     * *
*   *     *
  *     *
    * *

In [5]:
for i in range(0,5):
    for j in range(0,3):
        if(j==0):
            print("*",end=" ")
        elif(i==0 and (j==0 or j==1)):
            print("*",end=" ")
        elif(i==1 and j==2):
            print("*",end=" ")
        elif(i==2 and j==2):
            print("*",end=" ")
        elif(i==3 and j==2):
            print("*",end=" ")
        elif(i==4 and j==1):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* *
*   *
*   *
*   *
* *

In [6]:
for i in range(0,4):
    for j in range(0,7):
        if(i==0 and j==3):
            print(j,end=" ")
        elif(i==1 and (j==2 or j==3 or j==4)):
            print(j,end=" ")
        elif(i==2 and (j==1 or j==2 or j==3 or j==4 or j==5)):
            print(j,end=" ")
        elif(i==3 and (j==0 or j==1 or j==2 or j==3 or j==4 or j==5 or j==6)):
            print(j,end=" ")
        else:
            print(" ",end=" ")
    print()

      3
    2 3 4
  1 2 3 4 5
0 1 2 3 4 5 6

In [7]:
from time import sleep
for i in range(0,5):
    for j in range(0,11):
        if(j==0):
            print("*",end=" ")
            sleep(.3)
        elif(i==0 and (j==1 or j==2)):
            print("*",end=" ")
            sleep(.3)
        elif(i==1 and j==2):
            print("*",end=" ")
            sleep(.3)
        elif(i==2 and j==1):
            print("*",end=" ")
            sleep(.3)
        elif(i==3 and j==1):
            print("*",end=" ")
            sleep(.3)
        elif(i==4 and (j==2 or j==3)):
            print("*",end=" ")
            sleep(.3)
        elif(i==0 and (j==7 or j==8 or j==9 or j==10)):
            print("*",end=" ")
            sleep(.3)
        elif(i==1 and j==6):
            print("*",end=" ")
            sleep(.3)
        elif(i==2 and j==7):
            print("*",end=" ")
            sleep(.3)
        elif(i==3 and j==8):
            print("*",end=" ")
            sleep(.3)
        elif(i==4 and (j==3 or  j==5 or j==6 or j==7 or j==8)):
            print("*",end=" ")
            sleep(.3)
        else:
            print(" ",end=" ")
            sleep(.3)
    print()

* * *         * * * *
*   *       *
* *           *
* *             *
*   * *   * * * *

In [8]:
from time import  sleep
for i in range(0,5):
    for j in range(0,45):
        if(i==0 and (j==0 or j==5  or j==6 or j==7 or j==8 or j==9 or j==10 or j==11 or j==12 or j==13 or j==14  or j==17 or j==18 or j==21 or j==22 or j==23 or j==25 or j==26 or j==27 or j==28 or j==29 or  j==31 or j==32 or j==34 or j==38)):
            print("*",end=" ")
            sleep(.2)
        elif(i==1 and (j==0 or j==5 or j==6 or j==9 or j==12 or j==14 or j==16 or  j==19 or j==21 or j==23 or j==25 or j==28 or j==30 or j==31 or j==33 or j==35 or j==37)):
            print("*",end=" ")
            sleep(.2)
        elif(i==2 and (j==0 or j==5 or j==6 or j==7 or j==9 or j==10 or j==12 or j==13 or j==16 or j==17 or j==18 or j==19 or j==21 or j==22 or j==25 or j==26 or j==28 or j==30 or j==31 or j==33 or j==36)):
            print("*",end=" ")
            sleep(.2)
        elif(i==3 and (j==1 or j==4 or j==6 or j==9 or j==12 or j==13 or j==16 or j==19 or j==21 or j==22 or j==25 or j==28 or j==30 or j==31 or j==33 or j==36)):
            print("*",end=" ")
            sleep(.2)
        elif(i==4 and (j==2 or j==6 or j==7 or j==8 or j==9 or j==10 or j==11 or j==12 or j==14 or j==15 or j==20 or j==21 or j==23 or j==25 or j==26 or j==27 or j==28 or j==29 or j==31 or j==32 or j==36)):
            print("*",end=" ")
            sleep(.2)
        else:
            print(" ",end=" ")
            sleep(.2)
    print()

*         * * * * * * * * * *     * *     * * *   * * * * *   * *   *       *
*         * *     *     *   *   *     *   *   *   *     *   * *   *   *   *
*         * * *   * *   * *     * * * *   * *     * *   *   * *   *     *
  *     *   *     *     * *     *     *   * *     *     *   * *   *     *
    *       * * * * * * *   * *         * *   *   * * * * *   * *       *

In [9]:
for i in range(0,6):
    for j in range(0,7):
        if(i==0 and (j==0 or j==1  or j==5 or j==6)):
            print("*",end=" ")
        elif(i==1 and (j==0 or j==1 or j==5 or j==6)):
            print("*",end=" ")
        elif(i==2 and (j==0 or j==1 or j==2 or j==3 or j==4 or j==5 or j==6)):
            print("*",end=" ")
        elif(i==3 and (j==0 or j==1 or j==2 or j==3 or j==4 or j==5 or j==6)):
            print("*",end=" ")
        elif(i==4 and (j==1 or j==2 or j==3 or j==4 or j==5)):
            print("*",end=" ")
        elif(i==5 and j==3):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* *       * *
* *       * *
* * * * * * *
* * * * * * *
  * * * * *
      *

In [10]:
s='Abhishek Reddy'
s[::-1]

'yddeR kehsihbA'

In [11]:
a=3
b=5
a,b=b,a
print(a ,b)

5 3

In [12]:
def ispolindrom(s):
    return s == s[::-1]
    
s="malayalam"
ans=ispolindrom(s)
if ans:
    print("yes")
else:
    print("no")

yes

In [3]:
from time import sleep
for i in range(6):
    for j in range(8):
        if(i==0 and j==5):
            print("*",end=" ")
            sleep(.2)
        elif(i==1 and (j==5 or j==6)):
            print("*",end=" ")
            sleep(.2)
        elif(i==2 and (j==0 or j==1 or j==2 or j==3 or j==4 or j==5 or j==6 or j==7)):
            print("*",end=" ")
            sleep(.2)
        elif(i==3 and (j==0 or j==1 or j==2 or j==3 or j==4 or j==5 or j==6 or j==7)):
            print("*",end=" ")
            sleep(.2)
        elif(i==4 and (j==5 or j==6)):
            print("*",end=" ")
            sleep(.2)
        elif(i==5 and j==5):
            print("*",end=" ")
            sleep(.2)
        else:
            print(" ",end=" ")
            
    print()

          *
          * *
* * * * * * * *
* * * * * * * *
          * *
          *

In [14]:
from prettytable import PrettyTable

In [15]:
x=PrettyTable()

In [16]:
x.field_names=['Candidate id','Full Name','Marks Scored','Max marks']

In [17]:
x.add_row([1,'Abhishek Reddy',80,100])
x.add_row([2,'Ram Reddy',90,100])
x.add_row([3,'Krish',50,100])
x.add_row([4,'Deepak Reddy',60,100])
x.add_row([5,'Ganga',65,100])
x.add_row([6,'Priya',95,100])

In [18]:
print(x)

+--------------+----------------+--------------+-----------+
| Candidate id |   Full Name    | Marks Scored | Max marks |
+--------------+----------------+--------------+-----------+
|      1       | Abhishek Reddy |      80      |    100    |
|      2       |   Ram Reddy    |      90      |    100    |
|      3       |     Krish      |      50      |    100    |
|      4       |  Deepak Reddy  |      60      |    100    |
|      5       |     Ganga      |      65      |    100    |
|      6       |     Priya      |      95      |    100    |
+--------------+----------------+--------------+-----------+

In [19]:
print(x.get_string(start=2,end=5))

+--------------+--------------+--------------+-----------+
| Candidate id |  Full Name   | Marks Scored | Max marks |
+--------------+--------------+--------------+-----------+
|      3       |    Krish     |      50      |    100    |
|      4       | Deepak Reddy |      60      |    100    |
|      5       |    Ganga     |      65      |    100    |
+--------------+--------------+--------------+-----------+

In [20]:
print(x.get_string(fields=['Full Name','Marks Scored']))

+----------------+--------------+
|   Full Name    | Marks Scored |
+----------------+--------------+
| Abhishek Reddy |      80      |
|   Ram Reddy    |      90      |
|     Krish      |      50      |
|  Deepak Reddy  |      60      |
|     Ganga      |      65      |
|     Priya      |      95      |
+----------------+--------------+

In [21]:
x.align='l'
print(x)

+--------------+----------------+--------------+-----------+
| Candidate id | Full Name      | Marks Scored | Max marks |
+--------------+----------------+--------------+-----------+
| 1            | Abhishek Reddy | 80           | 100       |
| 2            | Ram Reddy      | 90           | 100       |
| 3            | Krish          | 50           | 100       |
| 4            | Deepak Reddy   | 60           | 100       |
| 5            | Ganga          | 65           | 100       |
| 6            | Priya          | 95           | 100       |
+--------------+----------------+--------------+-----------+

In [38]:
print(x.get_string(sortby='Full Name'))

+--------------+----------------+--------------+-----------+
| Candidate id | Full Name      | Marks Scored | Max marks |
+--------------+----------------+--------------+-----------+
| 1            | Abhishek Reddy | 80           | 100       |
| 4            | Deepak Reddy   | 60           | 100       |
| 5            | Ganga          | 65           | 100       |
| 3            | Krish          | 50           | 100       |
| 6            | Priya          | 95           | 100       |
| 2            | Ram Reddy      | 90           | 100       |
+--------------+----------------+--------------+-----------+

In [24]:
 for i in range(5):
        for j in range(8):
            if(i==0 and ( j==1 or j==2)):
                print("*",end=" ")
            elif(i==1 and (j==0 or  j==2)):
                print("*",end=" ")
            elif(i==2 and (j==1 or j==2 or j==3 or  j==6)):
                print("*",end=" ")
            elif(i==3 and (j==0 or j==2 or j==4 or j==5)):
                print("*",end=" ")
            elif(i==4 and (j==1 or j==2)):
                print("*",end=" ")
            else:
                print(" ",end=" ")
        print()

  * *
*   *
  * * *     *
*   *   * *
  * *